/******************** GENERAL **********************/
body{
    margin: 0;
}

/********************* NAVIGATION ************************/
/***** rss-nav *****/
#rss{
    display: flex;
    justify-content: space-between;

    padding: 1%;
}

#rss-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-basis: 25%;
}

.rss-nav-item{
    flex-grow: 1;

    text-align: center;
}

/**** title-nav ****/
#title-header{
    margin: 3% 2% 3% 2%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/****** site-nav *******/
#site-nav{
    display: flex;
}

.site-nav-item{
    padding-left: 2%;
    padding-right: 2%;

    margin-top: .7%;
    margin-bottom: .7%;

}

/************************* MAIN ******************************/
/*** main-storie ***/
#main-storie{
    padding: 2%;

    display: flex;
    align-items: center;
}

#main-storie-content{
    flex: 1;
    justify-content: space-between;
    margin-left: 3%;
}

#main-storie-img{
    flex: 1.6;
}

#main-storie-title{
    margin: 0;
}

#main-storie-text{
    padding-right: 20%;
}

/*** other-stories ***/
#other-stories{
    display: flex;

    flex-wrap: wrap;

    padding-bottom: 1.5%;
}

.storie{
    flex-basis: 31.3%;

    display: flex;
    flex-direction: column;

    margin-right: 1%;
    margin-left: 1%;
}

/***************************** FOOTER *****************************/
/***** bottom stories ******/
#bottom-stories{
    display: flex;
    margin-bottom: 2%;
}

.b-stories{
    flex: 1;

    padding: 1%;
}

.b-storie-title{
    padding-bottom: 3%;
    margin-bottom: 3%;
}

/****** site-footer *********/
#site-footer{
    display: flex;
    justify-content: space-between;


}

.copyright{
    padding-left: 1%;
    padding-right: 1%;
}
